.navbar{
    display: flex;
    justify-content: space-between;

 background-color: rgb(40, 8, 116);
 height: 50px;
}
.navbar ul{
    display: flex;
 
}
.navbar ul li{
    margin-right: 1rem;
    color: white;
}
.navbar h3{
    color: white;
}